@font-face {
  font-family: "Roboto";
  font-weight: 400;
  font-style: normal;

  src: url("../fonts/roboto.woff2") format("woff2"),
  url("../fonts/roboto.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-weight: 500;
  font-style: normal;

  src: url("../fonts/robotomedium.woff2") format("woff2"),
  url("../fonts/robotomedium.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-weight: 700;
  font-style: normal;

  src: url("../fonts/robotobold.woff2") format("woff2"),
  url("../fonts/robotobold.woff") format("woff");
}

:root {
  --basic-white: #ffffff;
  --basic-pink: #FBDED7;
  --special-pink: #F6B5A5;
  --basic-black: #000000;
	--special-black: #323232;
  --special-grey: #F8F7F4;

  --light-grey: #D3D3D2;
  --darken-grey: #5A5A5A;
  --dark-grey: #999999;
  --grey: #EDEDED;
  --grey-red: #696969;
	--background-green: #849D8F;
  --background-grey: #8996a6;
  --background-brown: #9d8b84;

	--link-hover: #E84D37;
  --basic-orange: #F26843;
  --special-orange: #E74A35;
	--shadow-orange-hover: #AC1000;
	--shadow-orange-active: #942718;


  --special-red-rgb: 172, 16, 0;
  --shadow-text-button: 160, 32, 11;
	--link-hover-decoration: 232, 77, 55;

	--basic-white-rgb: 255, 255, 255;
	--basic-black-rgb: 0, 0, 0;
  --basic-grey-rgb: 50, 50, 50;
  --lighten-grey-rgb: 178, 178, 178;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  display: inline-block;
  background: linear-gradient(180deg, var(--basic-orange) 0%, var(--special-orange) 100%);
  box-shadow: 0px 1px 2px rgba(var(--special-red-rgb), 0.25);
  border-radius: 26px;
	border: none;
  box-sizing: border-box;
	padding: 12px 25px 15px 25px;

	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 16px;
  vertical-align: center;
	color: var(--basic-white);
	text-decoration: none;
	word-wrap: break-word;
  cursor: pointer;
}

.button:hover,
.button:focus {
	background: linear-gradient(0deg, rgba(var(--basic-white-rgb), 0.2), rgba(var(--basic-white-rgb), 0.2)), linear-gradient(180deg, var(--basic-orange) 0%, var(--special-orange) 100%);
	box-shadow: 0px 1px 2px var(--shadow-orange-hover);
	outline: none;
}

.button:active {
	background: linear-gradient(0deg, rgba(var(--basic-black-rgb), 0.07), rgba(var(--basic-black-rgb), 0.07)), linear-gradient(180deg, var(--basic-orange) 0%, var(--special-orange) 100%);
	box-shadow: inset 0px 2px 2px var(--shadow-orange-active);
}

.text-decoration {
  text-decoration-line: underline;
  text-underline-offset: 1px;
  text-decoration-color: rgba(var(--basic-white-rgb), 0.2);
}

.page {
	height: 100%;
}

.page-body {
	display: grid;

	min-width: 1200px;
	min-height: 100%;

	margin-top: 10px;

	grid-template-rows: min-content 1fr min-content;

	font-family: "Roboto", "Arial", sans-serif;;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 22px;
	text-align: center;

	color: var(--basic-white);
  background-position: top center;
  background-repeat: no-repeat;
}

.site-wrapper-1 {
	background-color: var(--background-green);
  background-image: url("../img/icecream-slide1.png");
}

.site-wrapper-2 {
  background-color: var(--background-grey);
  background-image: url("../img/icecream-slide2.png");
}

.site-wrapper-3 {
  background-color: var(--background-brown);
  background-image: url("../img/icecream-slide3.png");
}

.container {
  width: 1146px;
  margin: 0 auto;
  padding: 0 27px;
}

.header-grid {
	display: grid;
	grid-template-rows: min-content min-content;
	grid-template-columns: 154px 1fr 244px;
	grid-template-areas: "logo navigation user-menu"
  ". . time-and-telephone";
	row-gap: 2px;
}

.header-logo {
	grid-area: logo;
	width: 154px;
	height: 64px;
}

.header-navigation {
	grid-area: navigation;
  margin-top: 13px;
  margin-left: 10px;
}

.user-menu {
	grid-area: user-menu;
}

.time-and-telephone {
	grid-area: time-and-telephone;
}

.header-navigation-list {
	margin: 0;
	padding: 0;
	list-style: none;

	display: flex;
	position: relative;
  justify-content: start;
}

.header-navigation-item {
  padding-bottom: 10px;
}

.header-navigation-item:first-child .header-navigation-link {
	margin-left: 0;
}

.header-navigation-link {
  display: block;
  box-sizing: border-box;
  min-height: 31px;
	margin-left: 7px;
	padding: 6px 13px 7px 13px;

	text-decoration: none;
	line-height: 18px;
	font-weight: 700;
	color: var(--basic-white);
}

.header-navigation-item:hover .header-navigation-link,
.header-navigation-item:focus-within .header-navigation-link,
.header-navigation-item:focus .header-navigation-link {
	background: var(--basic-white);
	border-radius: 26px;
  color: var(--special-black);
  outline: none;
}

.header-navigation-item:active .header-navigation-link {
  box-shadow: inset 0px 2px 1px var(--grey-red);
  background: var(--grey);
}

.header-navigation-submenu {
	display: none;
	flex-direction: column;
	position: absolute;
	top: 37px;
	left: -8px;
	list-style: none;
	margin: 0;
	padding: 0;
  z-index: 100;

	background-color: var(--basic-white);
	box-shadow: 0px 20px 20px rgba(var(--basic-black-rgb), 0.4);
	border-radius: 4px;
}

.header-navigation-item:focus-within .header-navigation-submenu,
.header-navigation-item:hover .header-navigation-submenu {
	display: flex;
}

.header-submenu-direction {
  display: block;
  border-bottom: 2px solid rgba(var(--basic-grey-rgb), 0.2);
  padding-bottom: 9px;
  padding-left: 15px;
}

.header-navigation-submenu-item:hover,
.header-navigation-submenu-item:focus-within,
.header-navigation-submenu-item:focus {
  background-color: var(--basic-pink);
  outline: none;
}

.header-navigation-submenu-item:active {
  background-color: var(--special-pink);
}

.header-navigation-submenu-item:first-child:hover,
.header-navigation-submenu-item:first-child:focus {
  border-radius: 4px 4px 0 0;
}

.header-navigation-submenu-item:last-child:hover,
.header-navigation-submenu-item:last-child:focus {
  border-radius: 0 0 4px 4px;
}

.header-navigation-submenu-item:first-child .header-navigation-submenu-link {
	font-weight: 700;
	line-height: 18px;
}

.header-navigation-submenu-link {
	display: block;
  font-weight: 400;
	font-size: 14px;
	line-height: 16px;
	color: var(--special-black);
	text-decoration: none;

  text-align: left;
	padding-left: 21px;
	padding-right: 21px;
  padding-top: 7px;
  padding-bottom: 7px;
  box-sizing: border-box;
  min-height: 27px;
}

.header-navigation-submenu-link:focus {
  outline: none;
}

.header-navigation-submenu-item:first-child .header-navigation-submenu-link {
  padding: 10px 9px 0 6px;
}

.header-navigation-submenu-item:nth-child(2) .header-navigation-submenu-link {
  padding-top: 10px;
  padding-bottom: 10px;
}

.header-navigation-submenu-item:last-child .header-navigation-submenu-link {
  padding-bottom: 14px;
}

.user-menu {
	display: flex;
  margin-top: 14px;
}

.user-menu-item {
	margin-left: 10px;
}

.user-menu-item:first-child {
	margin-left: 0;
}

.search {
  position: relative;
}

.search:hover .search-form-wrapper,
.search:focus-within .search-form-wrapper {
  display: block;
}

.search:hover svg path,
.search:focus-within svg path {
	fill: var(--special-black);
}

.search-link {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 32px;
	height: 32px;
	background-color: rgba(var(--basic-white-rgb), 0.2);
	border-radius: 50%;
}

.search-link:focus {
  outline: none;
}

.search-form-wrapper {
  display: none;
  position: absolute;
  top: 36px;
  left: -309px;
  padding: 20px 15px;
  background-color: var(--special-grey);
  box-shadow: 0px 20px 20px rgba(var(--basic-black-rgb), 0.4);
  border-radius: 4px;
  z-index: 100;
}

.search-form-input {
  box-sizing: border-box;
  width: 311px;
  height: 44px;
  padding: 15px;

  background-color: var(--basic-white);
  border: 1px solid var(--light-grey);
  border-radius: 4px;

  font-size: 14px;
  line-height: 16px;

  color: var(--basic-black);
}

.search-form-input::placeholder {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;

  color: var(--dark-grey);
}

.login {
  position: relative;
}

.login:hover .login-form,
.login:focus-within .login-form {
  display: block;
}

.login-form {
  box-sizing: border-box;
  width: 277px;
	display: none;
  grid-template-rows: min-content min-content min-content;
  grid-template-columns: 103px 119px;
  grid-template-areas: "email email"
  "password password"
  "submit link";
  gap: 20px;

  padding: 20px 17px 22px 19px;
	position: absolute;
	top: 37px;
	left: -185px;

  background-color: var(--special-grey);
  box-shadow: 0px 20px 20px rgba(var(--basic-black-rgb) 0.4);
  border-radius: 4px;
  z-index: 100;
}

.login:hover .login-form,
.login:focus-within .login-form {
  display: grid;
}

.login-link {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 6px 16px 7px 16px;

	background-color: rgba(var(--basic-white-rgb), 0.2);
	border-radius: 20px;
	text-decoration: none;
  font-size: 14px;
	line-height: 16px;
	color: inherit;
}

.login-link svg {
	margin-right: 8px;
}

.login:hover .login-link,
.login:focus-within .login-link {
	color: var(--special-black);
	outline: none;
}

.login:hover svg path,
.login:focus-within svg path {
	fill: var(--special-black);
}

.login-form-email {
  grid-area: email;
  box-sizing: border-box;
  width: 241px;
  height: 44px;
  padding: 10px 15px 15px 14px;
  background-color: var(--basic-white);
  border: 1px solid var(--light-grey);
  box-sizing: border-box;
  border-radius: 4px;
}

.login-form-email::placeholder {
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 16px;

	color: var(--dark-grey);
}

.login-form-password {
  grid-area: password;
  box-sizing: border-box;
  width: 241px;
  height: 44px;
	padding: 14px 15px 15px 14px;

  background-color: var(--basic-white);
  border: 1px solid var(--light-grey);
  border-radius: 4px;
}

.login-form-password::placeholder {
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 16px;

	color: var(--dark-grey);
}

.login-form-submit {
  grid-area: submit;
}

.link-wrapper {
  grid-area: link;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding-top: 2px;
}

.restore-password {
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	line-height: 15px;
	color: var(--special-black);
	text-decoration: none;
	margin-bottom: 6px;
}

.new-registration {
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	line-height: 15px;
	color: var(--special-black);
	text-decoration: none;
}

.restore-password::after,
.new-registration::after {
	content: "";
	display: block;
	width: auto;
	height: 1px;
	background-color: rgba(var(--basic-grey-rgb), 0.3);
	margin-top: -1px;
}

.restore-password:hover,
.restore-password:focus,
.restore-password:active,
.new-registration:hover,
.new-registration:focus,
.new-registration:active {
	color: var(--link-hover);
	outline: none;
}

.restore-password:hover::after,
.new-registration:hover::after,
.restore-password:focus::after,
.new-registration:focus::after,
.restore-password:active::after,
.new-registration:active::after {
	background-color: rgba(var(--link-hover-decoration), 0.3);
}

.cart-link {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 6px 16px 6px 16px;

	background-color: rgba(var(--basic-white-rgb), 0.2);
	border-radius: 20px;
	text-decoration: none;
	line-height: 16px;
  font-size: 14px;
	color: inherit;
}

.cart-link svg {
	margin-right: 8px;
}

.time-and-telephone {
	font-weight: 700;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-end;
}

.time-of-work {
	font-size: 14px;
	line-height: 16px;
	margin-bottom: 8px;
}

.telephone-number {
	font-size: 22px;
	line-height: 24px;
	color: var(--basic-white);
	text-decoration: none;
}

.telephone-number:hover,
.telephone-number:focus,
.telephone-number:active {
	color: var(--link-hover);
	outline: none;
}

.slider {
  position: relative;
  padding-top: 272px;
  margin-bottom: 42px;
}

.slider-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.slide-item {
  display: none;
}

.slide-current {
  display: block;
}

.slide-title {
  width: 700px;
  margin: 0 auto;
  margin-bottom: 27px;
  font-size: 60px;
  line-height: 60px;
  font-weight: 700;
}

.slide-button {
  font-size: 32px;
  line-height: 44px;
  text-shadow: 0 2px 5px rgba(var(--shadow-text-button), 0.76);
  border-radius: 70px;
  box-shadow: 0 2px 2px rgba(var(--special-red-rgb), 0.64);
  padding: 9px 23px 9px 23px;
  letter-spacing: 0.05em;
  margin-left: -16px;
}

.slider-controls {
  position: absolute;
  bottom: 21px;
  left: 0;
  z-index: 20;
  display: flex;
  width: 80px;
  justify-content: space-between;
}

.slider-controls-button {
  padding: 0;
  width: 21px;
  height: 21px;
  background-color: transparent;
  border: 2px solid var(--basic-white);
  border-radius: 50%;
  cursor: pointer;
}

.slider-controls-button.current {
  background-color: var(--basic-white);
}

.promo {
  margin-bottom: 40px;
}

.promo-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 26px;
}

.promo-item {
  box-sizing: border-box;
  width: 560px;
  background-position: 0 0;
  background-repeat: no-repeat;
  object-fit: cover;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 16px 22px 22px 16px;
}

.promo-raspberry {
  background-image: url(../img/raspberry-background.jpg);
}

.promo-chocolate {
  background-image: url(../img/chocolate-background.jpg);
}

.promo-title {
  font-weight: 700;
  font-size: 35px;
  line-height: 41px;
  margin: 0;
  padding: 0;
  align-self: flex-start;
  margin-bottom: 16px;
}

.promo-text {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  margin: 0;
  padding: 0;
  align-self: flex-start;
  text-align: left;
  margin-bottom: 42px;
}

.promo-button {
  align-self: flex-end;
  box-shadow: 0px 2px 2px rgba(var(--special-red-rgb), 0.64);
  border-radius: 70px;
  line-height: 24px;
  text-shadow: 0px 2px 5px rgba(var(--shadow-text-button), 0.76);
  padding: 12px 22px 12px 22px;
}

.goods {
  margin-bottom: 34px;
}

.goods-list {
  list-style: none;
  margin: 0;
  margin-left: -13px;
  margin-top: -6px;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.goods-item {
  display: flex;
  flex-direction: column-reverse;
  width: 267px;
  padding: 6px 13px 6px 13px;
  position: relative;
}

.goods-button {
  display: none;
  padding: 12px 16px 12px 16px;
  z-index: 2;
}

.goods-item:hover .goods-button {
  display: block;
  position: absolute;
  bottom: -52px;
  left: 46px;
}

.goods-item:hover::after  {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  padding-bottom: 73px;
  background-color: rgba(var(--basic-white-rgb), 0.2);
  box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.goods-title {
  margin: 0;
  margin-top: 7px;
  padding: 0;

  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
}

.goods-inner {
  position: relative;
}

.goods-inner::before {
  content: "";
  position: absolute;
  width: 61px;
  height: 61px;
  border-radius: 50%;
  background-color: var(--basic-white);
  background-image: url("../img/icon-hit.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.goods-price {
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: 19px;
  left: 0px;

  font-weight: 700;
  font-size: 45px;
  line-height: 45px;
  text-shadow: 0px 1px 3px rgba(var(--basic-grey-rgb), 0.5);
}

.goods-price span {
  font-size: 30px;
  line-height: 35px;
  letter-spacing: 0.05em;
}

.goods-image {
  border-radius: 50%;
}

.advantages {
  background-image: url("../img/waffle-pattern.jpg");
  background-position: 0 0;
  background-repeat: repeat;
  border-radius: 16px;
  padding: 24px 20px 30px 20px;
  margin-bottom: 40px;
}

.advantages-text {
  font-size: 24px;
  line-height: 30px;

  color: var(--special-black);
  text-align: left;
  margin: 0;
  margin-bottom: 16px;
}

.advantages-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 26px;
  row-gap: 22px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.advantages-item {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;

  color: var(--special-black);
  text-align: left;
  padding-left: 55px;
  position: relative;
}

.advantages-item::before {
  content: "";
  position: absolute;
  top: -8px;
  left: 0;
  width: 49px;
  height: 49px;
  background-repeat: no-repeat;
  background-position: center center;
}

.advantages-item:nth-child(1)::before {
  background-image: url(../img/icon-icecream.svg);
}

.advantages-item:nth-child(2)::before {
  background-image: url(../img/icon-cow.svg);
}

.advantages-item:nth-child(3)::before {
  background-image: url(../img/icon-leaf.svg);
}

.advantages-item:nth-child(4)::before {
  background-image: url(../img/icon-thermometer.svg);
}

.blog-and-subscribe-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 26px;
  margin-bottom: 40px;
}

.blog {
  box-sizing: border-box;
  width: 560px;
  background-image: url(../img/strawberry-background-news.jpg);
  background-position: 0 0;
  background-repeat: no-repeat;
  border-radius: 16px;
  min-height: 220px;
  padding: 18px 253px 18px 20px;
}

.blog-title {
  color: var(--special-black);
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  text-align: left;
  margin: 0;
  margin-bottom: 2px;
}

.article-title {
  text-align: left;
  margin: 0;
}

.article-link {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;

  color: var(--special-black);
}

.subscribe {
  background: url(../img/post-pattern.png);
  box-sizing: border-box;
  width: 560px;
  background-position: 0 0;
  background-repeat: no-repeat;
  border-radius: 16px;
  min-height: 220px;
  padding: 5px 6px;
}

.subscribe-inner {
  box-sizing: border-box;
  background-color: var(--special-grey);
  border-radius: 16px;
  width: 100%;
  height: 100%;
  padding: 25px 20px;
}

.subscribe-text {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  text-align: left;

  color: var(--darken-grey);
  margin-bottom: 40px;
}

.subscribe-form {
  display: grid;
  grid-template-columns: 1fr auto;
  column-gap: 10px;
}

.subscribe-input {
  height: 44px;
  border: 1px solid rgba(var(--lighten-grey-rgb), 0.52);
  box-sizing: border-box;
  border-radius: 6px;
  padding: 14px;
}

.subscribe-input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--dark-grey);
}

.subscribe-button {
  line-height: 24px;
  text-shadow: 0px 2px 5px rgba(var(--shadow-text-button), 0.76);
  padding: 10px 19px 10px 19px;
}

.contacts {
  text-align: left;
}

.contacts-wrapper {
  width: 1200px;
  margin: 0 auto;
  position: relative;
}

.contacts-info {
  position: absolute;
  box-sizing: border-box;
  padding: 30px 25px;
  background-color: var(--basic-white);
  border-radius: 16px;
  width: 303px;
  top: 62px;
  right: 27px;
}

.contacts-address {
  margin-bottom: 24px;
}

.contacts-address p {
  margin: 0px;
  margin-bottom: -2px;

  font-weight: 400;
  font-size: 14px;
  line-height: 20px;

  color: var(--special-black);
}

.contacts-address address {
  font-weight: 700;
  font-style: normal;
  font-size: 18px;
  line-height: 24px;

  color: var(--special-black);
}

.contacts-phone {
  margin-bottom: 27px;
}

.contacts-phone p {
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: var(--special-black);
}

.contacts-phone a {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;

  color: var(--special-black);
  text-decoration: none;
}

.сontacts-button {
  padding: 14px 28px 14px 28px;
}

.footer {
  display: flex;
  justify-content: space-between;
}

.social-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-start;
}

.social-item {
  width: 32px;
  height: 32px;
  background-image: url(../img/icon-facebook.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  margin-right: 12px;
}
